.media-manager-items
{
  display: grid;
  grid-template-columns: repeat( 7, 5fr );
  grid-gap: $rule / 2;
  padding: $rule;
  padding-top: 0;
}

.media-manager-dir
{
  width: 5rem;
  height: 5rem;
  background-color: #eeeeee;
}