@import 'sass/reset';
@import 'sass/animations';
@import 'sass/util';
@import 'sass/typography';
@import 'sass/colors';
@import 'sass/global';

html
{
  font-family: Muli, sans-serif;
  font-size: 110%;
}

body
{
  background-color: $color06;
  overflow: hidden;
}

// components
@import 'src/components/os/login-screen';
@import 'src/components/desktop/desktop';
@import 'src/components/desktop/taskbar';
@import 'src/components/app/app';
@import 'src/components/fs/file';
@import 'src/components/fs/file-browser';
@import 'src/components/fs/manager/manager';