.file
{
  background-color: $color05;
  padding: $rule / 2;
  border: 3px solid $color05;
  border-radius: $border-radius-01;
  transition: border-color .25s, background-color .25s;

  &:hover
  {
    background-color: $color01;
  }

  &.is-select
  {
    border: 3px solid $color06;
    box-shadow: 0 0 $rule / 4 rgba( $color04, .2 );
    background-color: $color01;
  }
}

.file-name
{
  font-weight: bold;
}

.file-type
{
  font-size: .75rem;
  color: $color03;
}

.file-size
{
  font-size: .75rem;
  color: $color03;
}